@{
    ViewBag.Title = "Index";
}

<head>
    <title></title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/content/styles/css")" rel="stylesheet" type="text/css" />
    <style>
        *, *::before, *::after {
            box-sizing: border-box;
        }

        .brandbg {
            background-image: linear-gradient(to bottom, #1F4FA2 0%, #20478B 100%);
            background-repeat: repeat-x;
            border-radius: 0px;
        }

        .shadow-sml {
            box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.65);
            border: 1px solid #DDD;
        }

        .container {
            max-width: 1170px;
            background-color: white;
        }

            .container::before, .container::after {
                content: " ";
                display: table;
            }

        body {
            background-image: url('../../Content/Images/backgroudImg.jpg');
            background-repeat: round;
            background-size: auto auto;
        }
    </style>
</head>

<div class="container" style="margin-top:10%">
    <div class="row">

    </div>

    <div class="row content shadow-sml">

        <div class="col-12 text-center brandbg" style="margin-top:5px; margin-bottom:5px">
            <img src="~/Content/Images/tdh_logo_w.png" alt="Tesco Developer Hub Logo" />
        </div>

        <div class="col-12 col-sm-6 col-lg-6" style="border-right: 1px solid #ccc;">
            @using (Html.BeginForm("SignIn", "Login"))
            {
                @Html.ValidationMessage("error_SignIn");
                <form id="frmsignid" method="post" action="Login/signIn">
                    <fieldset>
                        <legend>Sign in</legend>
                    </fieldset>

                    <label>User Name</label>
                    <div class="input-group">
                        <span class="input-group-addon">

                        </span>
                        <label for="inputEmail" class="sr-only">Email address</label>
                        @*<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus />*@
                        @Html.TextBox("inputEmail", null, new { id = "inputEmail", type = "email", placeholder = "Email address", required = "true", autofocus = "true", @class = "form-control" })
                    </div>
                    <label>Password</label>
                    <div class="input-group">
                        <span class="input-group-addon"></span>
                        <label for="inputPassword" class="sr-only">Password</label>
                        @*<input type="password" id="inputPassword" class="form-control" placeholder="Password" required />*@
                        @Html.TextBox("inputPassword", null, new { type = "password", id = "inputPassword", @class = "form-control", placeholder = "Password", required = "true" })
                    </div>
                    <br />
                    <button class="btn btn-primary" type="submit">Sign in</button>
                </form>
            }
        </div>

        <div class="col-12 col-sm-6 col-lg-06">
            @using(Html.BeginForm("SignUp","Login"))
            { 
                
            @Html.ValidationMessage("error_SignUp")
            @*<form id="frmSignUp" method="post" action="Login/SignUp">*@

                <fieldset>
                    <legend>Sign Up</legend>
                </fieldset>

                <label>User Name</label>
                <div class="input-group">
                    <span class="input-group-addon"></span>
                    <label for="signupEmail" class="sr-only">Email Address</label>
                    @*<input type="email" id="signupEmail" class="form-control" placeholder="Email address" required autofocus />*@
                    @Html.TextBox("signupEmail", null, new { id = "signupEmail", type = "email", placeholder = "Email address", required = "true", autofocus = "true", @class = "form-control" })
                </div>
                <label>Password</label>
                <div class="input-group">
                    <span class="input-group-addon"></span>
                    <label for="regPassword" class="sr-only">Password</label>
                    @*<input type="password" id="regPassword" class="form-control" placeholder="Password" required />*@
                    @Html.TextBox("regPassword", null, new { type = "password", id = "regPassword", @class = "form-control", placeholder = "Password", required = "true" })
                </div>
                <br />
                <button class="btn btn-primary" type="submit">Sign Up</button>


            @*</form>*@
            }
        </div>


    </div>

</div>